# 1. Importing libraries

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# 2. Exploring the general dataframe

In [14]:
ls

 Volume in drive C is OS
 Volume Serial Number is 4E23-324F

 Directory of C:\Users\W10\Documents\GitHub\Messy_Data\Data

08/25/2022  05:55 PM    <DIR>          .
08/25/2022  05:55 PM    <DIR>          ..
10/04/2019  10:08 PM        26,925,500 alldata.csv
04/19/2022  11:57 AM         8,346,244 alldata.csv.zip
04/19/2022  12:12 PM         9,633,606 alldata.xlsx
04/19/2022  02:03 PM        27,032,913 alldata_1.csv
04/19/2022  02:02 PM         9,662,151 alldata_1.xlsx
04/21/2022  12:50 PM            79,070 df1_NY.csv
04/21/2022  12:16 PM         1,633,960 df1_NY.csv.xlsx
04/21/2022  12:14 PM         4,233,614 fulltimeNY.csv
04/19/2022  02:25 PM         1,325,762 fulltimeNY.csv.zip
04/19/2022  04:26 PM         1,612,231 fulltimeNY.xlsx
              10 File(s)     90,485,051 bytes
               2 Dir(s)  335,727,570,944 bytes free

In [15]:
cd ..

C:\Users\W10\Documents\GitHub\Messy_Data

In [16]:
cd Data

C:\Users\W10\Documents\GitHub\Messy_Data\Data

In [17]:
#Load the dataframe
df = pd.read_csv('alldata.csv')

In [33]:
# First exploration of the dataframe
df.head(50)

,position,company,description,reviews,location,loc_new1
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA"
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,385.0,"Atlanta, GA 30318","Atlanta, GA"
6,"Product Specialist - Periscope, New Ventures",McKinsey & Company,Qualifications\nBachelor’s degree\n5-7 years o...,385.0,"Atlanta, GA 30318","Atlanta, GA"
7,"Junior to Mid-level Engineer, Geologist or Env...",Wood,Overview / Responsibilities\nWood Environment ...,899.0,"Atlanta, GA","Atlanta, GA"
8,Analyst - CIB Credit Research,SunTrust,Works closely with senior CIB professionals. P...,3343.0,"Atlanta, GA","Atlanta, GA"
9,Senior Associate - Cognitive Data Scientist Na...,KPMG,Known for being a great place to work and buil...,4494.0,"Atlanta, GA 30338","Atlanta, GA"
10,STATISTICAL FORECAST ANALYST,The Home Depot,:\n\nThe Statistical Forecast Analyst position...,38844.0,"Atlanta, GA","Atlanta, GA"
11,Health Scientist III-CPTS,Chenega Corporation,"Chenega Professional &amp; Technical Services,...",390.0,"Atlanta, GA","Atlanta, GA"
12,"Senior Associate, Data Scientist",KPMG,Innovate. Collaborate. Shine. Lighthouse — KPM...,4494.0,"Atlanta, GA 30338","Atlanta, GA"
13,Assistant Scientist (AR) SOM,Emory University,"DESCRIPTION\nUnder minimal supervision, the As...",550.0,"Atlanta, GA","Atlanta, GA"
14,Business Intelligence Data Science Analyst - S...,Newell Brands,Data Science Analyst– Business Intelligence\nL...,912.0,"Atlanta, GA","Atlanta, GA"
15,Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA","Atlanta, GA"
16,Senior Structural Engineer-Transmission & Dist...,Burns & McDonnell,Description\nExecutes complex assignments requ...,152.0,"Atlanta, GA 30309","Atlanta, GA"
17,Senior Mobile Developer (iOS/Android),Perficient,Overview\n\n\n\nAt Perficient you’ll deliver m...,44.0,"Atlanta, GA 30338","Atlanta, GA"
18,Data Scientist,Relus Cloud,DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...,NaN,"Atlanta, GA","Atlanta, GA"
19,Data Scientist,Inspire Brands,This position is critical to understanding dri...,NaN,"Atlanta, GA","Atlanta, GA"
20,Senior Electrical Engineer,Burns & McDonnell,Description\nBurns &amp; McDonnell is consider...,152.0,"Atlanta, GA 30309","Atlanta, GA"
21,"Sr. Manager, Full Stack Development, KPMG Tax ...",KPMG,Known for being a great place to work and buil...,4494.0,"Atlanta, GA 30338","Atlanta, GA"
22,Data Scientist,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,722.0,"Atlanta, GA 30309","Atlanta, GA"
23,DATA SCIENTIST - Supply Chain,The Home Depot,POSITION PURPOSE:\nA Data Scientist leverages ...,38844.0,"Atlanta, GA","Atlanta, GA"
24,"Data Scientist, Keying & Linking",Equifax,Job Number: 16614\nPosition Title:\nExternal D...,447.0,"Atlanta, GA","Atlanta, GA"
25,Data Scientist,AirSage,AirSage has been in the business of providing ...,NaN,"Atlanta, GA","Atlanta, GA"
26,Data Scientist 1 – AP Forensics Team,The Home Depot,POSITION PURPOSE:\nThe Data Scientist I will p...,NaN,"Atlanta, GA","Atlanta, GA"
27,Data Scientist - ICL,Georgia Tech Research Institute,"Full-time, permanent position available starti...",496.0,"Atlanta, GA 30318","Atlanta, GA"
28,"Data Scientist, Online",The Home Depot,"Position Purpose:\nAt HomeDepot.com, our award...",38844.0,"Atlanta, GA","Atlanta, GA"
29,Data Scientist - CONSULTANT Level - ORLANDO FL...,Capgemini,Overview:\nConsultant\n\nThe Data Science &amp...,5720.0,"Atlanta, GA","Atlanta, GA"
30,Senior Data Scientist,Catalina Marketing,Sr. Data Scientist\n\nWHY CATALINA\n\nCatalina...,78.0,"Atlanta, GA","Atlanta, GA"
31,Business Intelligence Data Scientist - Supply ...,Newell Brands,Data Scientist – Business Intelligence\nLocati...,912.0,"Atlanta, GA","Atlanta, GA"
32,Entry Level/Junior-Level Scientist,"Kleinfelder, Inc.",Kleinfelder has been connecting great people t...,92.0,"Atlanta, GA","Atlanta, GA"
33,Scientist - Data Analysis,AMERICAN CANCER SOCIETY,Position Description:\nSave lives. Fulfill you...,959.0,"Atlanta, GA","Atlanta, GA"
34,Data Scientist,SalesLoft,We are looking for a Data Scientist who is pas...,7.0,"Atlanta, GA","Atlanta, GA"
35,Data Scientist,McKesson,"RelayHealth Pharmacy Solutions (RHPS), a McKes...",3558.0,"Atlanta, GA 30329","Atlanta, GA"
36,Data Scientist,The Intersect Group,Responsibilities:Help to drive the analytical ...,29.0,"Atlanta, GA 30328","Atlanta, GA"
37,Health Scientist,Centers for Disease Control and Prevention,The purpose of this position is to identify an...,350.0,"Atlanta, GA","Atlanta, GA"
38,Data Scientist,OM Partners,"With demand sensing, OM Partners is breaking t...",NaN,"Atlanta, GA","Atlanta, GA"
39,DATA SCIENTIST - SPACE OPTIMIZATION,The Home Depot,POSITION PURPOSE\nThe Data Scientist Space Opt...,38844.0,"Atlanta, GA","Atlanta, GA"
40,"Data Science Specialist - Periscope, New Ventures",McKinsey & Company,"Qualifications\nAdvanced degree (MBA, MS, PhD,...",385.0,"Atlanta, GA 30318","Atlanta, GA"
41,Senior Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA","Atlanta, GA"
42,Manager - Data Scientist ! Orlando!,Capgemini,Manager – Orlando location\n\nOverview:\nThe D...,5720.0,"Atlanta, GA","Atlanta, GA"
43,Scientist II,The Coca-Cola Company,The ideal candidate is a product development s...,7236.0,"Atlanta, GA 30301","Atlanta, GA"
44,Lead Data Scientist,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,722.0,"Atlanta, GA 30309","Atlanta, GA"
45,Senior Data Scientist,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,722.0,"Atlanta, GA 30309","Atlanta, GA"
46,"Data Scientist - Consultant Level - Orlando, F...",Capgemini,"Consultant - Orlando, Florida\n\nThe Data Scie...",5720.0,"Atlanta, GA","Atlanta, GA"
47,Flight Safety Data Analysis Fall Co-Op,Delta Air Lines,Responsibilities include duties to support Fli...,2963.0,"Atlanta, GA","Atlanta, GA"
48,Chief Deep Learning Scientist,YIWEI Medical Inc.,"We are looking for talented, driven and autono...",NaN,"Atlanta, GA","Atlanta, GA"
49,Supervisory Health Scientist,Centers for Disease Control and Prevention,The incumbent will provide scientific consulta...,350.0,"Atlanta, GA","Atlanta, GA"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [20]:
df.describe()

             reviews
count    5326.000000
mean     3179.089185
std      8448.515056
min         2.000000
25%        27.000000
50%       230.000000
75%      1578.000000
max    148114.000000

The headers of the columns are already clearly formatted, so we are not gonna rename them.

In [21]:
#Exploring the variable "location"
df['location'].unique()

array(['Atlanta, GA 30301 ', 'Atlanta, GA', 'Atlanta, GA 30303 ',
       'Atlanta, GA 30318 ', 'Atlanta, GA 30338', 'Atlanta, GA 30309 ',
       'Atlanta, GA 30329', 'Atlanta, GA 30328', 'Atlanta, GA 30313 ',
       'Atlanta, GA 30306 ', 'Atlanta, GA 30327 ', 'Atlanta, GA 30322',
       'Atlanta, GA 30319', 'Atlanta, GA 30342 ', 'Atlanta, GA 30308 ',
       'Atlanta, GA 30341', 'Atlanta, GA 30326 ', 'Atlanta, GA 30361 ',
       'Atlanta, GA 30363 ', 'Atlanta, GA 30332 ', 'Atlanta, GA 30345',
       'Atlanta, GA 30350', 'Atlanta, GA 30339', 'Austin, TX',
       'Austin, TX 78746', 'Austin, TX 78701', 'Austin, TX 78759',
       'Round Rock, TX 78664', 'Cedar Park, TX 78613', 'Austin, TX 78702',
       'Austin, TX 78754', nan, 'Austin, TX 78751', 'Austin, TX 73344',
       'Austin, TX 78731', 'Austin, TX 78716', 'Austin, TX 78729',
       'Austin, TX 78758', 'Austin, TX 78769', 'Austin, TX 78753',
       'Austin, TX 78703', 'Austin, TX 78744', 'Austin, TX 78723',
       'Austin, TX 78747', 'Austin, TX 78730', 'Round Rock, TX',
       'Austin, TX 78727', 'Boulder, CO', 'Boulder, CO 80302',
       'Boulder, CO 80301', 'Boston, MA', 'Boston, MA 02110',
       'Boston, MA 02129', 'Boston, MA 02116', 'Boston, MA 02111',
       'Boston, MA 02298', 'Boston, MA 02109', 'Boston, MA 02210',
       'Boston, MA 02212', 'Boston, MA 02215', 'Boston, MA 02114',
       'Boston, MA 02199', 'Boston, MA 02134', 'Boston, MA 02108',
       'Boston, MA 02201', 'Boston, MA 02115', 'Boston, MA 02118',
       'Chicago, IL', 'Chicago, IL 60642', 'Chicago, IL 60603',
       'Chicago, IL 60606', 'Chicago, IL 60601', 'Chicago, IL 60664',
       'Chicago, IL 60290', 'Chicago, IL 60654', 'Chicago, IL 60614',
       'Chicago, IL 60604', 'Chicago, IL 60607', 'Chicago, IL 60647',
       'Chicago, IL 60661', 'Chicago, IL 60657', 'Chicago, IL 60659',
       'Chicago, IL 60631', 'Chicago, IL 60610', 'Chicago, IL 60611',
       'Chicago, IL 60615', 'Chicago, IL 60613', 'Chicago, IL 60602',
       'Chicago, IL 60646', 'Chicago, IL 60616', 'Washington, DC 20006',
       'Washington, DC 20422', 'Washington, DC 20005', 'Washington, DC',
       'Washington, DC 20001', 'Washington, DC 20036',
       'Washington, DC 20003', 'Washington, DC 20044',
       'Washington, DC 20230', 'Washington, DC 20037',
       'Washington, DC 20024', 'Washington, DC 20032',
       'Washington, DC 20229', 'Washington, DC 20002',
       'Washington, DC 20020', 'Washington, DC 20022',
       'Washington, DC 20009', 'Washington, DC 20318',
       'Washington, DC 20301', 'Washington, DC 20585',
       'Washington, DC 20376', 'Washington, DC 20004',
       'Washington, DC 20535', 'Washington, DC 20007',
       'Washington, DC 20010', 'Los Angeles, CA', 'Los Angeles, CA 90002',
       'Los Angeles, CA 90012', 'Los Angeles, CA 90006',
       'Los Angeles, CA 90036', 'Los Angeles, CA 90064',
       'Los Angeles, CA 90001', 'Los Angeles, CA 90025',
       'Los Angeles, CA 90067', 'Los Angeles, CA 90015',
       'Los Angeles, CA 90028', 'Los Angeles, CA 90048',
       'Los Angeles, CA 90024', 'Los Angeles, CA 90071',
       'Los Angeles, CA 90095', 'Los Angeles, CA 90066',
       'Los Angeles, CA 90046', 'Los Angeles, CA 90010',
       'Los Angeles, CA 90045', 'Los Angeles, CA 90016',
       'Los Angeles, CA 90017', 'Cambridge, MA', 'Cambridge, MA 02139',
       'Cambridge, MA 02140', 'Cambridge, MA 02142',
       'Cambridge, MA 02141', 'Cambridge, MA 02138',
       'Cambridge, MA 02163', 'Mountain View, CA 94040',
       'Mountain View, CA 94043', 'Mountain View, CA',
       'Mountain View, CA 94039', 'Mountain View, CA 94041',
       'Manhattan, NY', 'Mountain View, CA 94035', 'New York, NY',
       'New York, NY 10032', 'Jersey City, NJ', 'New York, NY 10016',
       'New York, NY 10003', 'New York, NY 10261', 'Newark, NJ',
       'Oakland, NJ', 'New York, NY 10001', 'Bronx, NY',
       'New York, NY 10019', 'New York, NY 10154', 'New York, NY 10004',
       'New York, NY 10010', 'New York, NY 10065', 'New York, NY 10022',
       'New York, NY 10007', 'New York, NY 10020', 'New York, NY 10011',
       'New York, NY 10036', 'Hoboken, NJ 07030', 'New York, NY 10014',
       'Brooklyn, NY', 'New York, NY 10017', 'New York, NY 10173',
       'New York, NY 10002', 'New York, NY 10282', 'Rutherford, NJ',
       'Union, NJ 07083', 'Rahway, NJ', 'Newark, NJ 07105',
       'Jersey City, NJ 07310', 'Murray Hill, NJ', 'South Plainfield, NJ',
       'New York, NY 10018', 'New York, NY 10012', 'New York, NY 10011 ',
       'New York, NY 10281 ', 'New York, NY 10104 ', 'Hoboken, NJ',
       'New York, NY 10154 ', 'New York, NY 10014 ',
       'New York, NY 10032 ', 'New York, NY 10282 ',
       'New York, NY 10001 ', 'Queens, NY', 'New York, NY 10016 ',
       'New York, NY 10022 ', 'Little Falls, NJ',
       'Florham Park, NJ 07932', 'New York, NY 10006 ',
       'New York, NY 10261 ', 'New York, NY 10179 ', 'Troy Hills, NJ',
       'Bloomfield, NJ', 'New York, NY 10013 ', 'Lynbrook, NY',
       'Allendale, NJ', 'Parsippany, NJ', 'New York, NY 10018 ',
       'New York, NY 10003 ', 'New York, NY 10176 ',
       'New York, NY 10002 ', 'New York, NY 10023 ',
       'New York, NY 10029 ', 'New York, NY 10017 ',
       'New York, NY 10107 ', 'New York, NY 10038 ',
       'West Orange, NJ 07052', 'Kenilworth, NJ', 'New York, NY 10041 ',
       'New York, NY 10005 ', 'New York, NY 10012 ',
       'New York, NY 10065 ', 'Ridgefield, NJ', 'New York, NY 10119 ',
       'Harrison, NY', 'Montclair, NJ', 'New York, NY 10171 ',
       'Fort Lee, NJ', 'New York, NY 10010 ', 'New York, NY 10021 ',
       'Carlstadt, NJ 07072', 'Orangeburg, NY 10962',
       'Jersey City, NJ 07310 ', 'Fairfield, NJ', 'Palisades, NY',
       'Hackensack, NJ', 'Roseland, NJ 07068', 'New York, NY 10168 ',
       'New York, NY 10172 ', 'East Hanover, NJ 07936',
       'Long Beach, NY 11561', 'Whippany, NJ', 'Union, NJ',
       'Brooklyn, NY 11249 ', 'Jersey City, NJ 07311 ',
       'New York, NY 10019 ', 'Manhasset, NY 11030', 'Yonkers, NY 10701',
       'Brooklyn, NY 11216 ', 'New York, NY 10279 ',
       'New York, NY 10004 ', 'New Hyde Park, NY 11040', 'Secaucus, NJ',
       'New York, NY 10055 ', 'Port Washington, NY 11050',
       'Staten Island, NY', 'Short Hills, NJ', 'Manhattanville, NY',
       'Woodcliff Lake, NJ', 'New York, NY 10027 ', 'New York, NY 10007 ',
       'Brooklyn, NY 11201', 'Redmond, WA 98052', 'Redmond, WA',
       'Redmond, WA 98053', 'San Diego, CA', 'San Diego, CA 92109',
       'San Diego, CA 92121', 'San Diego, CA 92108',
       'San Diego, CA 92127', 'San Diego, CA 92111',
       'San Diego, CA 92123', 'San Diego, CA 92122',
       'San Diego, CA 92130', 'San Diego, CA 92120',
       'San Diego, CA 92102', 'San Diego, CA 92154',
       'San Diego, CA 92128', 'San Diego, CA 92129', 'Bedminster, NJ',
       'New Brunswick, NJ', 'San Diego, CA 92110', 'San Diego, CA 92105',
       'Seattle, WA 98104', 'Seattle, WA', 'Seattle, WA 98109',
       'Seattle, WA 98101', 'Seattle, WA 98115', 'Seattle, WA 98102',
       'Seattle, WA 98121', 'Seattle, WA 98119', 'Seattle, WA 98103',
       'Seattle, WA 98105', 'Seattle, WA 98127', 'Seattle, WA 98194',
       'Seattle, WA 98106', 'Seattle, WA 98168', 'Seattle, WA 98164',
       'Seattle, WA 98122', 'Seattle, WA 98188', 'Seattle, WA 98134',
       'Seattle, WA 98195', 'San Francisco, CA 94103', 'Redwood City, CA',
       'San Francisco, CA', 'San Francisco, CA 94105',
       'San Francisco, CA 94124', 'San Mateo, CA',
       'Redwood City, CA 94063', 'Berkeley, CA',
       'San Francisco Bay Area, CA', 'Menlo Park, CA 94026',
       'Redwood City, CA 94065', 'Emeryville, CA', 'Oakland, CA',
       'South San Francisco, CA', 'San Francisco, CA 94107',
       'Foster City, CA', 'San Francisco, CA 94114',
       'San Francisco, CA 94158', 'San Francisco, CA 94104',
       'San Francisco, CA 94133', 'Redwood City, CA 94062',
       'Oakland, CA 94612', 'Emeryville, CA 94608',
       'South San Francisco, CA 94080', 'San Carlos, CA 94070',
       'San Francisco, CA 94115', 'San Mateo, CA 94404',
       'San Francisco, CA 94108', 'San Francisco, CA 94126',
       'Union City, CA 94587', 'Burlingame, CA 94010', 'Belmont, CA',
       'Richmond, CA 94804', 'Richmond, CA', 'Berkeley, CA 94710',
       'San Francisco, CA 94111', 'Hayward, CA',
       'South San Francisco, CA 94083', 'Novato, CA',
       'San Francisco, CA 94102', 'Burlingame, CA', 'Alameda, CA 94501',
       'San Rafael, CA', 'San Mateo, CA 94403', 'Alameda, CA',
       'Menlo Park, CA 94025', 'Pleasant Hill, CA', 'San Bruno, CA',
       'Oakland, CA 94611', 'Oakland, CA 94607', 'Redwood City, CA 94061',
       'Novato, CA 94949', 'San Ramon, CA', 'Lafayette, CA',
       'San Leandro, CA', 'Hayward, CA 94545', 'San Carlos, CA',
       'San Mateo, CA 94401', 'Daly City, CA 94016',
       'Mill Valley, CA 94941', 'San Francisco, CA 94129',
       'San Francisco, CA 94109', 'Fremont, CA 94555',
       'Richmond, CA 94806', 'San Bruno, CA 94066', 'Belmont, CA 94002',
       'San Francisco, CA 94110', 'Martinez, CA',
       'San Francisco, CA 94122', 'Walnut Creek, CA',
       'Kentfield, CA 94904', 'Oakland, CA 94601', 'San Mateo, CA 94402',
       'San Francisco, CA 94117', 'Walnut Creek, CA 94596',
       'Sunnyvale, CA', 'Sunnyvale, CA 94089', 'Sunnyvale, CA 94085',
       'Sunnyvale, CA 94086'], dtype=object)

In [37]:
df['location'].value_counts()

Seattle, WA            563
New York, NY           508
Cambridge, MA          487
Boston, MA             454
San Francisco, CA      425
                      ...
New York, NY 10171       1
Fort Lee, NJ             1
New York, NY 10021       1
Carlstadt, NJ 07072      1
New York, NY 10032       1
Name: location, Length: 382, dtype: int64

It's not possible to know how many job offers there are for cities since the "Location" variable is not well formatted, so we created a new column with one unique entry per city

df['loc_new1']=df['location'].str.replace('\d','', regex=True)

In [25]:
df.tail(50)

,position,company,description,reviews,location,loc_new1
6914,"Senior Manager, Sales Operations","Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA","Sunnyvale, CA"
6915,Senior/Staff Full Stack Engineer - Advertising...,Walmart eCommerce,Position Description\nWe are seeking talented ...,141.0,"Sunnyvale, CA","Sunnyvale, CA"
6916,"Senior Manager, Cost Accounting","Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA","Sunnyvale, CA"
6917,Security Scientist,Baidu USA,"Baidu USA, headquartered in Silicon Valley, is...",NaN,"Sunnyvale, CA 94089","Sunnyvale, CA"
6918,Sr Data Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA","Sunnyvale, CA"
6919,Applied Scientist,Lab126,Job Description\nAmazon Lab126 is an inventive...,NaN,"Sunnyvale, CA","Sunnyvale, CA"
6920,Research Scientist - IDL (Robotics),Baidu USA,The Baidu IDL Robotics group is developing sol...,NaN,"Sunnyvale, CA 94089","Sunnyvale, CA"
6921,Data Scientist - AI-driven Enterprise SaaS,Clari,Data Scientist - AI Driven Enterprise SaaS\n\n...,2.0,"Sunnyvale, CA 94086","Sunnyvale, CA"
6922,Data Scientist- Growth Analytics,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA","Sunnyvale, CA"
6923,Senior Data Scientist,Castlight Health,We’re hiring data scientists for a team of dat...,7.0,"Sunnyvale, CA 94086","Sunnyvale, CA"
6924,Data Scientist,Proofpoint,"Company Overview\nAt Proofpoint, we have a pas...",28.0,"Sunnyvale, CA 94089","Sunnyvale, CA"
6925,"Head of Data Science, Google Cloud Revenue Acc...",Google,"Google Cloud teams work with schools, companie...",2474.0,"Sunnyvale, CA","Sunnyvale, CA"
6926,Lead Data Scientist - Machine Learning,TARGET,Description:\nJoin the Target.com interactive ...,33275.0,"Sunnyvale, CA","Sunnyvale, CA"
6927,Staff Data Scientist - Tech CA (TECH12458),Walmart eCommerce,Position Description\nThe @WalmartLabs Persona...,141.0,"Sunnyvale, CA","Sunnyvale, CA"
6928,Machine Learning Scientist,Amazon.com,Job Description\n\nAmazon is looking for a pas...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6929,"Data Scientist, Path Forward Returnship",Walmart eCommerce,Position Description\nAt Walmart Labs we’re re...,141.0,"Sunnyvale, CA","Sunnyvale, CA"
6930,Data Scientist,"Linc Global, Inc.",Why you should join:\n\nJoin us in building th...,NaN,"Sunnyvale, CA","Sunnyvale, CA"
6931,Data Scientist - Alexa Language Technologies,Lab126,Job Description\nAmazon Lab126 is an inventive...,NaN,"Sunnyvale, CA","Sunnyvale, CA"
6932,Data Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA","Sunnyvale, CA"
6933,Data Scientist,Bosch Group,Job Description\n\nPrimary Responsibilities:\n...,3367.0,"Sunnyvale, CA 94085","Sunnyvale, CA"
6934,"Data Scientist, Cloud Revenue Acceleration, Go...",Google,The Google Cloud Platform team helps customers...,2474.0,"Sunnyvale, CA","Sunnyvale, CA"
6935,Data & Applied Scientist,Microsoft,Speech team at Microsoft builds the most advan...,4618.0,"Sunnyvale, CA","Sunnyvale, CA"
6936,Data Scientist - Alexa Language Technologies,Amazon.com,Job Description\nAmazon Lab126 is an inventive...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6937,Data Scientist / Data Analyst,Arosys,Are you a driven and inquisitive data scientis...,NaN,"Sunnyvale, CA","Sunnyvale, CA"
6938,"Data Scientist, Customer Interests & Personali...",Lab126,Job Description\nTo truly become the worlds mo...,NaN,"Sunnyvale, CA","Sunnyvale, CA"
6939,"Data Scientist, Customer Interests & Personali...",Amazon.com,Job Description\nTo truly become the worlds mo...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6940,Principal Data Scientist,Microsoft,Come join the Office Organization as we drive ...,4618.0,"Sunnyvale, CA","Sunnyvale, CA"
6941,"Data Scientist, Engineering Support Analytics,...",Google,The Google Cloud Platform team helps customers...,2474.0,"Sunnyvale, CA","Sunnyvale, CA"
6942,Applied Scientist,Amazon.com,Job Description\nAmazon Lab126 is an inventive...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6943,Staff Data Scientist,Walmart eCommerce,Position Description\nVoice Commerce Data Scie...,141.0,"Sunnyvale, CA","Sunnyvale, CA"
6944,"Staff Data Scientist, Search/Online Grocery",Walmart eCommerce,Position Description\nIn this role you will\nA...,141.0,"Sunnyvale, CA","Sunnyvale, CA"
6945,"Machine Learning Specialist, Trust and Safety",Google,Google's brand is only as strong as our users'...,2474.0,"Sunnyvale, CA","Sunnyvale, CA"
6946,Research Scientist,Amazon.com,Job Description\nAlexa is the Amazon cloud ser...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6947,Applied Machine Learning Scientist,Amazon.com,Job Description\nExternal job description\nAma...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6948,Scientist,Microsoft,We are the Azure Big Data teams part of the C+...,4618.0,"Sunnyvale, CA","Sunnyvale, CA"
6949,Systems software Performance Data Scientist Su...,Alibaba,We are the System Performance Team of Alibaba ...,15.0,"Sunnyvale, CA","Sunnyvale, CA"
6950,Applied Scientist - Alexa Engine,Amazon.com,Job Description\nInterested in making the ‘Ale...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6951,Lead Data Scientist - NLP,TARGET,Description:\n\nAbout This Opportunity\nJoin t...,33275.0,"Sunnyvale, CA","Sunnyvale, CA"
6952,Image processing Deep learning Research Scientist,Whiterabbit.ai,Whiterabbit.ai is a leading venture-backed sta...,NaN,"Sunnyvale, CA 94085","Sunnyvale, CA"
6953,"Machine Learning Scientist, Amazon Alexa",Amazon.com,Job Description\nAmazon is looking for a passi...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6954,"Global Mobility Specialist, Immigration",Google,Google is known for our innovative technologie...,2474.0,"Sunnyvale, CA","Sunnyvale, CA"
6955,Data Engineer,Amazon.com,"Job Description\nToday, people spend too much ...",25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6956,"Manager, Machine Learning",Amazon.com,Job Description\nAlexa is Amazon's new cloud-b...,25907.0,"Sunnyvale, CA","Sunnyvale, CA"
6957,Lead Data Scientist - Haskell,TARGET,Description:\nTarget is looking for engineers ...,33275.0,"Sunnyvale, CA","Sunnyvale, CA"
6958,Senior Data Scientist (GEC11902),Walmart,Position Description\nProficient in Java or Py...,148114.0,"Sunnyvale, CA 94086","Sunnyvale, CA"
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA","Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA","Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA","Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA","Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089","Sunnyvale, CA"

In [26]:
df['loc_new1'].unique()

array(['Atlanta, GA  ', 'Atlanta, GA', 'Atlanta, GA ', 'Austin, TX',
       'Austin, TX ', 'Round Rock, TX ', 'Cedar Park, TX ', nan,
       'Round Rock, TX', 'Boulder, CO', 'Boulder, CO ', 'Boston, MA',
       'Boston, MA ', 'Chicago, IL', 'Chicago, IL ', 'Washington, DC ',
       'Washington, DC', 'Los Angeles, CA', 'Los Angeles, CA ',
       'Cambridge, MA', 'Cambridge, MA ', 'Mountain View, CA ',
       'Mountain View, CA', 'Manhattan, NY', 'New York, NY',
       'New York, NY ', 'Jersey City, NJ', 'Newark, NJ', 'Oakland, NJ',
       'Bronx, NY', 'Hoboken, NJ ', 'Brooklyn, NY', 'Rutherford, NJ',
       'Union, NJ ', 'Rahway, NJ', 'Newark, NJ ', 'Jersey City, NJ ',
       'Murray Hill, NJ', 'South Plainfield, NJ', 'New York, NY  ',
       'Hoboken, NJ', 'Queens, NY', 'Little Falls, NJ',
       'Florham Park, NJ ', 'Troy Hills, NJ', 'Bloomfield, NJ',
       'Lynbrook, NY', 'Allendale, NJ', 'Parsippany, NJ',
       'West Orange, NJ ', 'Kenilworth, NJ', 'Ridgefield, NJ',
       'Harrison, NY', 'Montclair, NJ', 'Fort Lee, NJ', 'Carlstadt, NJ ',
       'Orangeburg, NY ', 'Jersey City, NJ  ', 'Fairfield, NJ',
       'Palisades, NY', 'Hackensack, NJ', 'Roseland, NJ ',
       'East Hanover, NJ ', 'Long Beach, NY ', 'Whippany, NJ',
       'Union, NJ', 'Brooklyn, NY  ', 'Manhasset, NY ', 'Yonkers, NY ',
       'New Hyde Park, NY ', 'Secaucus, NJ', 'Port Washington, NY ',
       'Staten Island, NY', 'Short Hills, NJ', 'Manhattanville, NY',
       'Woodcliff Lake, NJ', 'Brooklyn, NY ', 'Redmond, WA ',
       'Redmond, WA', 'San Diego, CA', 'San Diego, CA ', 'Bedminster, NJ',
       'New Brunswick, NJ', 'Seattle, WA ', 'Seattle, WA',
       'San Francisco, CA ', 'Redwood City, CA', 'San Francisco, CA',
       'San Mateo, CA', 'Redwood City, CA ', 'Berkeley, CA',
       'San Francisco Bay Area, CA', 'Menlo Park, CA ', 'Emeryville, CA',
       'Oakland, CA', 'South San Francisco, CA', 'Foster City, CA',
       'Oakland, CA ', 'Emeryville, CA ', 'South San Francisco, CA ',
       'San Carlos, CA ', 'San Mateo, CA ', 'Union City, CA ',
       'Burlingame, CA ', 'Belmont, CA', 'Richmond, CA ', 'Richmond, CA',
       'Berkeley, CA ', 'Hayward, CA', 'Novato, CA', 'Burlingame, CA',
       'Alameda, CA ', 'San Rafael, CA', 'Alameda, CA',
       'Pleasant Hill, CA', 'San Bruno, CA', 'Novato, CA ',
       'San Ramon, CA', 'Lafayette, CA', 'San Leandro, CA',
       'Hayward, CA ', 'San Carlos, CA', 'Daly City, CA ',
       'Mill Valley, CA ', 'Fremont, CA ', 'San Bruno, CA ',
       'Belmont, CA ', 'Martinez, CA', 'Walnut Creek, CA',
       'Kentfield, CA ', 'Walnut Creek, CA ', 'Sunnyvale, CA',
       'Sunnyvale, CA '], dtype=object)

In [27]:
df['loc_new1'].value_counts().head(30)

Seattle, WA                563
New York, NY               508
Cambridge, MA              487
Boston, MA                 454
San Francisco, CA          425
San Diego, CA              294
Chicago, IL                292
New York, NY               277
Boulder, CO                233
Washington, DC             230
Sunnyvale, CA              221
Seattle, WA                214
Cambridge, MA              207
Mountain View, CA          199
Los Angeles, CA            187
Chicago, IL                179
Boston, MA                 175
Austin, TX                 156
Atlanta, GA                147
San Francisco, CA          139
Redmond, WA                119
San Diego, CA              118
Washington, DC             110
Atlanta, GA                 84
Mountain View, CA           78
Los Angeles, CA             67
New York, NY                63
Austin, TX                  57
South San Francisco, CA     53
Redmond, WA                 39
Name: loc_new1, dtype: int64

In [36]:
df['location'][0].split(",", 1)

['Atlanta', ' GA 30301 ']

In [32]:
df['location'][0].split()

['Atlanta,', 'GA', '30301']