# 1. Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

# 2. Loading and Exploring the NY database

In [2]:
cd ..

C:\Users\W10\Documents\GitHub\Messy_Data

In [3]:
cd Data

C:\Users\W10\Documents\GitHub\Messy_Data\Data

In [5]:
#Load the dataframe
dfNY = pd.read_csv('fulltimeNY.csv')

In [6]:
dfNY.head()

,position,company,description,numreview,location
0,Data Scientist—Research (Ref # EXEC/RD_DAT_NYC...,New York State Office of the Attorney General ...,"<span id=""job_summary"" class=""summary""><p><b>E...",NaN,"New York, NY"
1,Data Scientist/Pre Sales Engineer,Celonis,"<span id=""job_summary"" class=""summary""><p>Celo...",NaN,"New York, NY"
2,Data Analyst/Research Scientist,Columbia University Medical Center,"<span id=""job_summary"" class=""summary""><p>We a...",217 reviews,"New York, NY 10032"
3,Data Scientist,fractalanalytics,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Jersey City, NJ"
4,Data Scientist,Blackboard Insurance,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"New York, NY"

In [12]:
dfNY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     986 non-null    object
 1   company      986 non-null    object
 2   description  986 non-null    object
 3   numreview    755 non-null    object
 4   location     986 non-null    object
dtypes: object(5)
memory usage: 38.6+ KB

In [8]:
dfNY.describe()

,position,company,description,numreview,location
count,986,986,986,755,986
unique,731,501,977,190,115
top,Data Scientist,NYU Langone Health,"<span id=""job_summary"" class=""summary""><div><p...",705 reviews,"New York, NY"
freq,103,77,2,76,503

In [13]:
dfNY.duplicated().sum()
#There are no duplicates

0