# 1. Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

# 2. Loading and Exploring the NY database

In [2]:
cd ..

C:\Users\W10\Documents\GitHub\Messy_Data

In [3]:
cd Data

C:\Users\W10\Documents\GitHub\Messy_Data\Data

In [6]:
#Load the dataframe
dfNY = pd.read_csv('fulltimeNY.csv')

In [7]:
dfNY.head()

,Unnamed: 0,position,company,description,numreview,location,data_scientist,data_analyst,data_engineer
0,0,data_scientistâ€”research_(ref_#_exec/rd_dat_n...,New York State Office of the Attorney General ...,"<span id=""job_summary"" class=""summary""><p><b>E...",NaN,"New York, NY",1,0,0
1,1,data_scientist/pre_sales_engineer,Celonis,"<span id=""job_summary"" class=""summary""><p>Celo...",NaN,"New York, NY",1,0,0
2,2,data_analyst/research_scientist,Columbia University Medical Center,"<span id=""job_summary"" class=""summary""><p>We a...",217 reviews,"New York, NY 10032",0,1,0
3,3,data_scientist,fractalanalytics,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Jersey City, NJ",1,0,0
4,4,data_scientist,Blackboard Insurance,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"New York, NY",1,0,0

In [ ]:
df1.head()